/**
 * The following styles get applied both on the front of the site
 * and in the editor.
 */
.wp-block-jmeriksson-post-grid-block {
	.grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: 2rem;
	}

	.grid-item {
		&__figure {
			position: relative;
			overflow: hidden;
			margin-bottom: 1rem;

			img {
				width: 100%;
				height: 300px;
				object-fit: cover;
				object-position: center;
			}
		}

		&__heading {
			margin-top: 0;
			margin-bottom: 0;
			color: inherit;
		}

		&__post-meta {
			display: flex;
			flex-direction: row;
			gap: .5rem;
			opacity: .8;

			small:not(:last-child)::after {
				content: '•';
				margin-left: .5rem;
			}
		}
	}

	&.alignwide .grid {
		@media (min-width: 782px) {
			grid-template-columns: 1fr 1fr;
		}
	}
	
	&.has-background .grid {
		padding: 1rem;
		
		@media (min-width: 782px) {
			padding: 2rem;
		}
	}
}
